.home_background{
    background: url(/src/register.jpg) no-repeat center fixed;
    background-size: cover;
    padding-top: 50%;
    font-weight: bold;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 3.89em;
}
.btn{
    background-color: #0c1395;
}
