body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-gavel {
  color: #fff;
  background-color: #0c1395;
  border-color: #0c1396;
}
.btn-gavel:hover {
  color: #fff;
  background-color: #0c1395;
  border-color: #0c1395;
}

.bg-gavel {
  background-color: #0c1395 !important;
}

.btn-outline-gavel {
  color: #0c1395;
  border-color: #0c1395 !important;
}
.btn-outline-gavel:hover {
  color: #fff;
  background-color: #0c1395;
  border-color: #0c1395;
}

